body {
  font-family: 'Work Sans', sans-serif !important;
}

#delete_form {
  display: inline;
}

.nice-form {
  width: 30%;
  margin: 35px auto;
}
.thumbnail .caption-full {
  padding: 9px;
}

.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}
